MONGO_URI=
PORT=
ENCRYPTION_KEY =
JWT_SECRET=
NODE_ENV="development"

#cronjob EMAIL
EMAIL_HOST=
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=
EMAIL_PASS=

EMAIL_SERVICE="Outlook365"

#frontend
BASE_URL=
