@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts - Poppins for headers and body text */

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backdrop {
  @apply backdrop-blur-md bg-white/50;
}
/* mengatasi error untuk browser lama */
html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* untuk Safari lama */
  -ms-text-size-adjust: 100%; /* untuk IE/Edge lama */
}
