@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts - Poppins for headers and body text */

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backdrop {
  @apply backdrop-blur-md bg-white/50;
}
/* mengatasi error untuk browser lama */
html {
  text-size-adjust: 100%;
}

/* Override DaisyUI vendor prefixes yang tidak didukung */
:host {
  font-size: 10px;
  -webkit-transform: scale(0.83);
  display: inline-block;
}
