@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts - Poppins for headers and body text */

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
